<footer>
    <div class="footer_list_tt">
        <div class="tt_1 d-flex justify-content-center">
            <div class="tt_1_1 d-flex">
                <div class="col-sm-3 ct">
                    <h5>CGV việt nam</h5>
                    <p>Giới thiệu</p>
                    <p>Tiện ích Online</p>
                    <p>Thẻ quà tặng</p>
                    <p>Tuyển dụng</p>
                    <p>Liên hệ quảng cáo CGV</p>
                    <p>Dành cho đối tác</p>
                </div>
                <div class="col-sm-3 ct">
                    <h5>Điều khoản sử dụng</h5>
                    <p>Điều Khoản Chung</p>
                    <p>Điều Khoản Giao Dịch</p>
                    <p>Chính Sách Thanh Toán</p>
                    <p>Chính Sách Bảo Mật</p>
                    <p>Câu Hỏi Thường Gặp</p>
                </div>
                <div class="col-sm-3 ct">
                    <h5>Kết nối với chúng tôi</h5>
                    <div class="footer_social">
                        <i class="bi bi-facebook" style="color: #475993"></i>
                        <i class="bi bi-youtube" style="color: #ff0000"></i>
                        <i class="bi bi-instagram" style="color: #c131a3"></i>
                        <i class="bi bi-zalo" style="color: #6a77a0"></i>
                        <i class="bi bi-twitter-x text-black" style="color: #6a77a0"></i>
                    </div>
                </div>
                <div class="col-sm-3 ct">
                    <h5>Chăm sóc khách hàng</h5>
                    <p>Hotline: 1900 6017</p>
                    <p>Giờ làm việc: 8:00 - 22:00</p>
                    <p>Email hỗ trợ: hoidap@cgv.vn</p>

                </div>

            </div>

        </div>
        <div class="tt_2 d-flex justify-content-center">
            <div class="tt_2_2 d-flex justify-content-around">
                <img src="https://www.cgv.vn/skin/frontend/cgv/default/images/cgvlogo.png" alt="" width="80px"
                    height="40px">
                <div class="tt_2_tt">
                    <h5>CÔNG TY TNHH CJ CGV VIỆT NAM</h5>
                    <p>Giấy Chứng nhận đăng ký doanh nghiệp: 0303675393 đăng ký lần đầu ngày 31/7/2008, được cấp bởi Sở
                        <br>Kế hoạch và Đầu tư Thành phố Hồ Chí Minh
                    </p>
                    <p>Địa chỉ: Lầu 2, số 7/28, Đường Thành Thái, Phường 14, Quận 10, Thành phố Hồ Chí Minh, Việt Nam
                    </p>
                    <p>Đường dây nóng (Hotline): 1900 6017</p>
                    <p>COPYRIGHT 2017 CJ CGV VIETNAM CO., LTD. ALL RIGHTS RESERVE</p>
                </div>
            </div>
        </div>
        <div class="tt_3"></div>

    </div>

</footer>