<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#" style="margin-left: 40px"><i class="bi bi-house-gear-fill"></i></a>

        <div class="admin_manager text-white d-flex" style="margin-right: 40px; font-size: 20px;">
            <i class="bi bi-person-gear icon_admin"></i>
            <div class="admin_select_option bg-white">
                <a href="">Thông tin</a>
                <a href="">Đăng xuất</a>
            </div>
        </div>
    </div>
</nav>