<div class="d-flex justify-content-end acc" style="background-color: #fdfcf0; padding: 4px 0;">
    <a href="http://cgvnew_nguyenvantoan.com:2002/users/login"
        style=" margin: 0 5px 0 0; color: #e71a0f; text-decoration: none;"><i class="bi bi-person"></i> ĐĂNG
        NHẬP</a>/
    <a href="http://cgvnew_nguyenvantoan.com:2002/users/register"
        style=" margin: 0 40px 0 5px; color: #e71a0f; text-decoration: none;">ĐĂNG KÝ</a>
</div>
<nav class="navbar navbar-expand-lg header_main" style="z-index: 20;">
    <div class="container d-flex align-item-center">
        <a class="navbar-brand text-danger col-sm-3 d-flex font" href="http://cgvnew_nguyenvantoan.com:2002"><img
                src="https://www.cgv.vn/skin/frontend/cgv/default/images/cgvlogo.png" alt="">new</a>
        {{!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> --}}
        <div class="collapse navbar-collapse col-sm-9 d-flex" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 col-sm-5 d-flex align-items-end justify-content-around"
                style="height: 80px;">
                <li class="nav-item dropdown">
                    <a class="nav-link text-black" href="#" role="button" data-bs-toggle="dropdown"
                        style="font-size: 18px; font-weight: 700;" aria-expanded="false">
                        Lịch chiếu<i class="bi bi-chevron-down" style="font-size: 10px; margin-left: 2px;"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#dc">Phim đang chiếu</a></li>
                        <li><a class="dropdown-item" href="#sc">Phim sắp chiếu</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-black" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="font-size: 18px; font-weight: 700;">
                        Rap chiếu<i class="bi bi-chevron-down" style="font-size: 10px; margin-left: 2px;"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-black" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="font-size: 18px; font-weight: 700;">
                        Thành viên<i class="bi bi-chevron-down" style="font-size: 10px; margin-left: 2px;"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Tài khoản CGV</a></li>
                        <li><a class="dropdown-item" href="#">Quyền lợi</a></li>

                    </ul>
                </li>

            </ul>
            <div class="col-sm-4 text-center d-flex align-items-start" style="height: 70px;">
                <i class="bi bi-search text-black icon_search" style="font-weight: 600 !important;">
                    <div class="box_infor_search bg-white ">
                        <form action="" method="" class="search_main col-sm-12 bg-white">
                            <input type="search" name="" id="" placeholder="Nhập từ khóa" class="col-sm-9 input_search">
                            <button type="submit" class="input_button col-sm-2 bg-white"><i
                                    class="bi bi-search"></i></button>
                        </form>
                        <p class="text-secondary text-start mt-2" style="font-style: normal; margin-left: 8.3px;">Kết
                            quả</p>
                        <div class="search_information_list bg-white text-black" style="font-style: normal;">
                            <a href="" class="search_information_child col-sm-12 d-flex align-items-center">
                                <div class="img col-sm-4">
                                    <img src="https://cinema.momocdn.net/img/52615077350325982-lamgi%C3%A0u-v%E1%BB%9Bi-ma.jpg"
                                        alt="" width="90%" height="100px">
                                </div>
                                <div class="child_infor col-sm-8 text-start">
                                    <p class="child_infor_title text-black">Làm giàu với ma</p>
                                    <p class="child_infor_type text-secondary">Hài, gia đình</p>
                                    <div class="d-flex alig-items-center">
                                        <p class="child_infor_star text-secondary">
                                            <i class="bi bi-star-fill" style="color: rgb(218, 218, 14) ;"></i>
                                            9.7
                                        </p>
                                        <span class="bg-danger text-white child_infor_status"><i
                                                class="bi bi-wifi-2"></i>
                                            ĐANG CHIẾU
                                        </span>
                                    </div>
                                </div>
                                <hr>
                            </a>
                            <a href="" class="search_information_child col-sm-12 d-flex align-items-center">
                                <div class="img col-sm-4">
                                    <img src="https://cinema.momocdn.net/img/52615077350325982-lamgi%C3%A0u-v%E1%BB%9Bi-ma.jpg"
                                        alt="" width="90%" height="100px">
                                </div>
                                <div class="child_infor col-sm-8 text-start">
                                    <p class="child_infor_title text-black">Làm giàu với ma</p>
                                    <p class="child_infor_type text-secondary">Hài, gia đình</p>
                                    <div class="d-flex alig-items-center">
                                        <p class="child_infor_star text-secondary">
                                            <i class="bi bi-star-fill" style="color: rgb(218, 218, 14) ;"></i>
                                            9.7
                                        </p>
                                        <span class="bg-danger text-white child_infor_status"><i
                                                class="bi bi-wifi-2"></i>
                                            ĐANG CHIẾU
                                        </span>
                                    </div>
                                </div>
                                <hr>
                            </a>
                            <a href="" class="search_information_child col-sm-12 d-flex align-items-center">
                                <div class="img col-sm-4">
                                    <img src="https://cinema.momocdn.net/img/52615077350325982-lamgi%C3%A0u-v%E1%BB%9Bi-ma.jpg"
                                        alt="" width="90%" height="100px">
                                </div>
                                <div class="child_infor col-sm-8 text-start">
                                    <p class="child_infor_title text-black">Làm giàu với ma</p>
                                    <p class="child_infor_type text-secondary">Hài, gia đình</p>
                                    <div class="d-flex alig-items-center">
                                        <p class="child_infor_star text-secondary">
                                            <i class="bi bi-star-fill" style="color: rgb(218, 218, 14) ;"></i>
                                            9.7
                                        </p>
                                        <span class="bg-danger text-white child_infor_status"><i
                                                class="bi bi-wifi-2"></i>
                                            ĐANG CHIẾU
                                        </span>
                                    </div>
                                </div>
                                <hr>
                            </a>
                            <a href="" class="search_information_child col-sm-12 d-flex align-items-center">
                                <div class="img col-sm-4">
                                    <img src="https://cinema.momocdn.net/img/52615077350325982-lamgi%C3%A0u-v%E1%BB%9Bi-ma.jpg"
                                        alt="" width="90%" height="100px">
                                </div>
                                <div class="child_infor col-sm-8 text-start">
                                    <p class="child_infor_title text-black">Làm giàu với ma</p>
                                    <p class="child_infor_type text-secondary">Hài, gia đình</p>
                                    <div class="d-flex alig-items-center">
                                        <p class="child_infor_star text-secondary">
                                            <i class="bi bi-star-fill" style="color: rgb(218, 218, 14) ;"></i>
                                            9.7
                                        </p>
                                        <span class="bg-danger text-white child_infor_status"><i
                                                class="bi bi-wifi-2"></i>
                                            ĐANG CHIẾU
                                        </span>
                                    </div>
                                </div>
                                <hr>
                            </a>


                        </div>

                    </div>

                </i>

            </div>
            <span class="d-flex justify-content-between col-sm-3 align-item-start;" style="height: 64px;">
                <i class="bi bi-person-circle text-black col-sm-4 text-end"
                    style="font-size: 20px; margin-right: 5px;"></i>
                <p class="text-black col-sm-8" style="font-size: 14px; margin: 0;">Nguyễn văn toàn</p>

                {{!-- <div class="user_selects">
                    <a href="">Trang quản trị</a>
                    <a href="">Đăng xuất</a>
                </div> --}}
            </span>
        </div>
    </div>
</nav>