<div class="form_handle">
    <p class="message"></p>
    <form method="" action="http://cgvnew_nguyenvantoan.com:2002/users/login" class="form_template bg-white">
        <h6 class="text-black text-center" style="margin-bottom: 20px;">TÌM THẤY MAIL BÂY GIỜ BẠN HÃY TẠO MẬT KHẨU MỚI
        </h6>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">
                <i class="bi bi-envelope text-danger"></i>
                Email
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nhập email..."
                value="nguyenvantoan29102002@gmail.com">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"><i class="bi bi-file-lock2 text-danger"></i>Tạo mật
                khẩu mới</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nhập mật khẩu đăng kí...">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"><i class="bi bi-file-lock2 text-danger"></i>Xác nhận
                lại mật khẩu</label>
            <input type="password" class="form-control" id="exampleInputPassword1"
                placeholder="Nhập mật khẩu đăng kí...">
        </div>
        <div class="button_redirect d-flex justify-content-center align-items-center">
            <button type="submit" class="btn text-white">Tạo mới</button>
        </div>

    </form>

</div>