<div class="detail_main">
    <div class="detail_main_info col-sm-12 d-flex">
        <div class="info_img col-sm-4 d-flex justify-content-end align-items-center">
            <img src="https://cinema.momocdn.net/img/53203902591862249-Untitled-1.jpg" alt="" class="info_img_img">
            <i class="bi bi-play-circle detail_icon_video text-white"></i>
        </div>
        <div class="info_info col-sm-8 d-flex align-items-center">
            <div class="infor_box">
                <h1 class="info_name text-white">Bố Gà Siêu Đẳng: Trận Chiến Trên Băng</h1>
                <div class="info_name-year-time d-flex text-white align-items-center">
                    <h1 class="info_name2">Bố Gà Siêu Đẳng: Trận Chiến Trên Băng.</h1>
                    <p class="info_year_movie">2024</p>
                    <p class="info_time_movie">90 phút</p>
                </div>
                <div class="info_evaluate d-flex align-items-center">
                    <i class="bi bi-star-fill info_evaluate_star"></i>
                    <div class="info_evaluate_point text-white d-flex align-items-center">
                        <p style="font-size: 30px; margin-right: 2px;">8.9</p>
                        <div class="d-flex flex-wrap" style="width: 48px; font-size: 10px; height: 30px;">
                            <p>10</p>
                            <p>đánh giá</p>
                        </div>
                    </div>
                </div>
                <div class="info_content text-white">
                    <label for="" style="font-size: 16px;">Nội dung</label>
                    <p style="width: 792px; height: 47px; overflow: hidden; opacity: 0.6;" class="info_content_movie">
                        Một chú gấu Bắc
                        Cực
                        nhỏ mồ côi trốn khỏi
                        rạp xiếc lưu động,
                        Toto hứa sẽ đưa
                        chú trở về môi trường
                        sống tự nhiên. Giá như cậu biết điều đó có nghĩa là cậu phải đến Nam Cực. Với sự giúp đỡ của đội
                        Trứng Nhỏ, họ cùng nhau vượt qua vô vàn nguy hiểm.</p>
                    <div class="see_more">...Xem thêm</div>
                    <div class="hidden">...Ẩn bớt</div>
                </div>
                <div class="info_day_type text-white d-flex">
                    <div class="info_day_start">
                        <p style="opacity: 0.6;">Ngày chiếu</p>
                        <p style="font-weight: 500;font-size: 17px;">30/08/2024</p>
                    </div>
                    <div class="info_type">
                        <p style="opacity: 0.6;">Thể loại</p>
                        <p style="font-weight: 500;font-size: 17px;">Gia đình, Hài, Phiêu lưu, Hoạt hình</p>
                    </div>
                </div>

                <div class="info_trailer d-flex align-items-center">
                    <i class="bi bi-play-circle" style="font-size: 25px; margin-right: 6px; color: #cd2983;"></i>
                    <span class="text-white">Xem trailer</span>
                </div>

            </div>
        </div>

    </div>
    <div class="detail_comment-listMovie col-sm-12 d-flex">
        <div class="detail_buy_comment col-sm-7 d-flex justify-content-end bg-white">
            <div style="width: 80%;">
                <div class="detail_buy d-flex align-items-center">
                    <p style="font-size: 16px; font-weight: 500;">Lịch chiếu:</p>
                    <h1 style="font-size: 24px; font-weight: 700; margin-bottom: 0; margin-left: 8px;">Bố Gà Siêu Đẳng:
                        Trận
                        Chiến Trên Băng
                    </h1>

                </div>
                <div class="show_date-address">
                    <ul class="list_show_date d-flex">
                        <li class="date_child" style="width: calc(100% / 7)">
                            <div class="date_child_box" style="box-shadow: 0 0 1px #d42a87; border-radius: 4px;">
                                <div class="box_date text-center"
                                    style="background-color: #d42a87; border-top-left-radius: 4px; border-top-right-radius: 4px;color: #fff; font-size: 20px; font-weight: 500;">
                                    12
                                </div>
                                <div class="box_day text-center" style="padding: 2px 0; color:#d42a87;">Thứ 3</div>
                            </div>
                        </li>
                        <li class="date_child" style="width: calc(100% / 7)">
                            <div class="date_child_box" style="border-radius: 4px; box-shadow: 0 0 1px #555;">
                                <div class="box_date text-center bg-body-secondary"
                                    style="border-top-left-radius: 4px; border-top-right-radius: 4px; font-size: 20px; font-weight: 500;">
                                    12
                                </div>
                                <div class="box_day text-center" style="padding: 2px 0;">Thứ 3</div>
                            </div>
                        </li>
                        <li class="date_child" style="width: calc(100% / 7)">
                            <div class="date_child_box" style="border-radius: 4px; box-shadow: 0 0 1px #555;">
                                <div class="box_date text-center bg-body-secondary"
                                    style="border-top-left-radius: 4px; border-top-right-radius: 4px; font-size: 20px; font-weight: 500;">
                                    12
                                </div>
                                <div class="box_day text-center" style="padding: 2px 0;">Thứ 3</div>
                            </div>
                        </li>
                        <li class="date_child" style="width: calc(100% / 7)">
                            <div class="date_child_box" style="border-radius: 4px; box-shadow: 0 0 1px #555;">
                                <div class="box_date text-center bg-body-secondary"
                                    style="border-top-left-radius: 4px; border-top-right-radius: 4px; font-size: 20px; font-weight: 500;">
                                    12
                                </div>
                                <div class="box_day text-center" style="padding: 2px 0;">Thứ 3</div>
                            </div>
                        </li>
                        <li class="date_child" style="width: calc(100% / 7)">
                            <div class="date_child_box" style="border-radius: 4px; box-shadow: 0 0 1px #555;">
                                <div class="box_date text-center bg-body-secondary"
                                    style="border-top-left-radius: 4px; border-top-right-radius: 4px; font-size: 20px; font-weight: 500;">
                                    12
                                </div>
                                <div class="box_day text-center" style="padding: 2px 0;">Thứ 3</div>
                            </div>
                        </li>
                        <li class="date_child" style="width: calc(100% / 7)">
                            <div class="date_child_box" style="border-radius: 4px; box-shadow: 0 0 1px #555;">
                                <div class="box_date text-center bg-body-secondary"
                                    style="border-top-left-radius: 4px; border-top-right-radius: 4px; font-size: 20px; font-weight: 500;">
                                    12
                                </div>
                                <div class="box_day text-center" style="padding: 2px 0;">Thứ 3</div>
                            </div>
                        </li>
                        <li class="date_child" style="width: calc(100% / 7)">
                            <div class="date_child_box" style="border-radius: 4px; box-shadow: 0 0 1px #555;">
                                <div class="box_date text-center bg-body-secondary"
                                    style="border-top-left-radius: 4px; border-top-right-radius: 4px; font-size: 20px; font-weight: 500;">
                                    12
                                </div>
                                <div class="box_day text-center" style="padding: 2px 0;">Thứ 3</div>
                            </div>
                        </li>

                    </ul>
                    <div class="name_cgv">
                        <div class="name_cgv_img">
                            <img src="https://homepage.momocdn.net/cinema/momo-amazone-s3-api-240829164527-638605467276820522.png"
                                alt="" width="38px" height="38px">

                        </div>
                        <p style="margin: 4px 0 20px 28px; font-size: 13px;">CGV</p>
                    </div>
                    <div class="label d-flex align-items-center" style="padding-left: 16px;">
                        <div class="name_cgv_img" style="margin:0 20px 0 0;">
                            <img src="https://homepage.momocdn.net/cinema/momo-amazone-s3-api-240829164527-638605467276820522.png"
                                alt="" width="38px" height="38px">

                        </div>
                        <div class="label_address">
                            <p style="font-size: 16px; font-weight: 500;">CGV Vincom Đà Nẵng</p>
                            <p style="font-size: 12px">Tầng 4, TTTM Vincom Đà Nẵng, Ngô Quyền, Sơn Trà, Đà Nẵng</p>
                        </div>
                    </div>
                    <p style="padding-left: 16px; margin-top: 15px; font-weight: 500; font-size: 15px;">2D phụ đề</p>
                    <ul class="list_time d-flex flex-wrap" style="margin: 16px 0 0 16px;">
                        <li class="time_child d-flex" style="width: 20%; height: 60px;">
                            <div class="time_child_box d-flex justify-content-center align-items-center;"
                                style="padding: 6px 12px; border: 1px solid #18a9ea; width: 120px; border-radius: 4px; color:#18a9ea; height: 65%;">
                                <p style="font-weight: 500;">08:40</p><span style="margin: 0 2px;">~</span>
                                <p>10:31</p>
                            </div>
                        </li>
                        <li class="time_child d-flex" style="width: 20%; height: 60px;">
                            <div class="time_child_box d-flex justify-content-center align-items-center;"
                                style="padding: 6px 12px; border: 1px solid #18a9ea; width: 120px; border-radius: 4px; color:#18a9ea; height: 65%;">
                                <p style="font-weight: 500;">08:40</p><span style="margin: 0 2px;">~</span>
                                <p>10:31</p>
                            </div>
                        </li>
                        <li class="time_child d-flex" style="width: 20%; height: 60px;">
                            <div class="time_child_box d-flex justify-content-center align-items-center;"
                                style="padding: 6px 12px; border: 1px solid #18a9ea; width: 120px; border-radius: 4px; color:#18a9ea; height: 65%;">
                                <p style="font-weight: 500;">08:40</p><span style="margin: 0 2px;">~</span>
                                <p>10:31</p>
                            </div>
                        </li>
                        <li class="time_child d-flex" style="width: 20%; height: 60px;">
                            <div class="time_child_box d-flex justify-content-center align-items-center;"
                                style="padding: 6px 12px; border: 1px solid #18a9ea; width: 120px; border-radius: 4px; color:#18a9ea; height: 65%;">
                                <p style="font-weight: 500;">08:40</p><span style="margin: 0 2px;">~</span>
                                <p>10:31</p>
                            </div>
                        </li>
                        <li class="time_child d-flex" style="width: 20%; height: 60px;">
                            <div class="time_child_box d-flex justify-content-center align-items-center;"
                                style="padding: 6px 12px; border: 1px solid #18a9ea; width: 120px; border-radius: 4px; color:#18a9ea; height: 65%;">
                                <p style="font-weight: 500;">08:40</p><span style="margin: 0 2px;">~</span>
                                <p>10:31</p>
                            </div>
                        </li>
                        <li class="time_child d-flex" style="width: 20%; height: 60px;">
                            <div class="time_child_box d-flex justify-content-center align-items-center;"
                                style="padding: 6px 12px; border: 1px solid #18a9ea; width: 120px; border-radius: 4px; color:#18a9ea; height: 65%;">
                                <p style="font-weight: 500;">08:40</p><span style="margin: 0 2px;">~</span>
                                <p>10:31</p>
                            </div>
                        </li>
                        <li class="time_child d-flex" style="width: 20%; height: 60px;">
                            <div class="time_child_box d-flex justify-content-center align-items-center;"
                                style="padding: 6px 12px; border: 1px solid #18a9ea; width: 120px; border-radius: 4px; color:#18a9ea; height: 65%;">
                                <p style="font-weight: 500;">08:40</p><span style="margin: 0 2px;">~</span>
                                <p>10:31</p>
                            </div>
                        </li>
                        <li class="time_child d-flex" style="width: 20%; height: 60px;">
                            <div class="time_child_box d-flex justify-content-center align-items-center;"
                                style="padding: 6px 12px; border: 1px solid #18a9ea; width: 120px; border-radius: 4px; color:#18a9ea; height: 65%;">
                                <p style="font-weight: 500;">08:40</p><span style="margin: 0 2px;">~</span>
                                <p>10:31</p>
                            </div>
                        </li>
                        <li class="time_child d-flex" style="width: 20%; height: 60px;">
                            <div class="time_child_box d-flex justify-content-center align-items-center;"
                                style="padding: 6px 12px; border: 1px solid #18a9ea; width: 120px; border-radius: 4px; color:#18a9ea; height: 65%;">
                                <p style="font-weight: 500;">08:40</p><span style="margin: 0 2px;">~</span>
                                <p>10:31</p>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="comment bg-danger">

                </div>

            </div>
            <div class="model_detail justify-content-center align-items-center">
                <div class="model_detail_box  bg-black">
                    <iframe width="768" height="432" src="https://www.youtube.com/embed/MtZ_hf7tLxk?autoplay=1&mute=1"
                        title="LÀM GIÀU VỚI MA OFFICIAL TRAILER - KC: 30.08.2024" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="model_buy d-flex">
                        <div class="model_buy_img col-sm-2 d-flex justify-content-center align-items-center">
                            <img src="https://cinema.momocdn.net/img/52615077350325982-lamgi%C3%A0u-v%E1%BB%9Bi-ma.jpg"
                                alt="" height="114px" width="82px">
                        </div>
                        <div class="model_buy_info col-sm-10 text-white">
                            <h5 class="model_buy_info_heading">Làm Giàu Với Ma</h5>
                            <p class="model_buy_info_text text-secondary">
                                Trong Làm Giàu Với Ma, Tuấn Trần vào vai Lanh - một thanh niên lêu lổng, ngỗ ngược, dính
                                vào cờ bạc nợ nần. Trên quãng đường chạy trốn khỏi đám giang hồ chủ nợ hung hăng, anh vô
                                tình "đụng" phải ma nữ Na (Diệp Bảo Ngọc) và bị cô nàng nhờ vả giúp mình tìm gặp đứa con
                                mà cô
                            </p>
                            <button type="submit" class="model_button bg-success">Đặt vé</button>
                        </div>

                    </div>
                    <i class="model_icon_close bi bi-x-circle"></i>
                </div>
            </div>
        </div>
        <div class="detail_listMovie col-sm-5 bg-info">2</div>
    </div>
</div>
<script src="../../js/detail.js"></script>