<div class="form_handle">
    <p class="message"></p>
    <form method="" action="http://cgvnew_nguyenvantoan.com:2002/users/create-password" class="form_template bg-white">
        <h6 class="text-black text-center">NHẬP EMAIL CẦN TÌM LẠI MẬT KHẨU</h6>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">
                <i class="bi bi-envelope text-danger"></i>
                Email
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nhập email...">
        </div>
        <div class="button_redirect d-flex justify-content-center align-items-center">
            <button type="submit" class="btn text-white">XÁC NHẬN</button>
        </div>

    </form>

</div>