<div class="form_handle">
    <p class="message"></p>
    <form method="" action="" class="form_template bg-white">
        <h5 class="heading_form text-white">ĐĂNG NHẬP</h5>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">
                <i class="bi bi-envelope text-danger"></i>
                Email
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nhập email đăng kí...">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"><i
                    class="bi bi-file-lock2 text-danger"></i>Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1"
                placeholder="Nhập mật khẩu đăng kí...">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <div class="button_redirect d-flex justify-content-between align-items-center">
            <a href="http://cgvnew_nguyenvantoan.com:2002/users/register">Bạn chưa có tài khoản?</a>
            <button type="submit" class="btn text-white">ĐĂNG NHẬP</button>
        </div>
        <a href="http://cgvnew_nguyenvantoan.com:2002/users/forget-password" class="d-block text-center"
            style="margin-top: 30px;">Quên mật khẩu?</a>
    </form>

</div>