<div class="form_handle">
    <p class="message"></p>
    <form method="" action="" class="form_template bg-white">
        <h5 class="heading_form text-white">ĐĂNG KÝ</h5>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">
                <i class="bi bi-envelope text-danger"></i>
                Email
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nhập email đăng kí...">
        </div>

        <div class="mb-3">
            <label for="username" class="form-label"><i class="bi bi-person text-danger"></i>Username</label>
            <input type="text" class="form-control" id="username" placeholder="Nhập username đăng kí...">

        </div>

        <div class="mb-3">
            <label for="tel" class="form-label"><i class="bi bi-telephone text-danger"></i>Số điện thoại</label>
            <input type="tel" class="form-control" id="tel" placeholder="Nhập Số điện thoại đăng kí...">

        </div>

        <div class="mb-3">
            <label for="" class="form-label"><i class="bi bi-journal-check text-danger"></i>Ngày sinh</label>
            <div class="age_gt d-flex">
                <div class="age_user">
                    <select name="day_user" id="" class="width_select">
                        <option>ngày</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>

                    </select>

                    <select name="month_user" id="" class="width_select">
                        <option>tháng</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>

                    </select>
                    <select name="year_user" id="" class="width_select">
                        <option>năm</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                    </select>


                </div>
                <fieldset class="gt d-flex  justify-content-around">
                    <div class="male">
                        <input type="radio" name="gt" id="" value="nam">
                        <label for="">Nam</label>
                    </div>
                    <div class="female">
                        <input type="radio" name="gt" id="" value="nu">
                        <label for="">Nữ</label>
                    </div>
                </fieldset>
            </div>

        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"><i
                    class="bi bi-file-lock2 text-danger"></i>Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1"
                placeholder="Nhập mật khẩu đăng kí...">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <div class="button_redirect d-flex justify-content-between align-items-center">
            <a href="http://cgvnew_nguyenvantoan.com:2002/users/login">Bạn đã có tài khoản?</a>
            <button type="submit" class="btn text-white">ĐĂNG KÝ</button>
        </div>
    </form>

</div>